*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px red solid; */
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.06em;
}
.heading{
    margin-top: 94px;
    text-align: center;
    margin-bottom: 56px;
}
.main-title{
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 16px;
}
.faq{
    padding: 0px 104px;
    border-bottom: 1px #222222 solid;
}
.faq h2{
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 24px;
}
.question{
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px #222222 solid;
}
.question:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}