{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">     
</head>

<body>

    <div class="reset-pass">

        <div class="top">
        <img src="{% static 'css/group.png' %}" alt="logo">
        
        {% if validlink %}
        <h1>Change password</h1>

        <p>
            Please enter your new password twice so we can verify you typed it in correctly.
        </p>
        </div>

        <form class="content" method="post">
            {% csrf_token %}
            {% for field in form %}
                <label for="email">{{ field.label_tag }}</label><br>
                {{ field }}
                {% if field.errors %}<div class="" style="color: red;" role="alert">{{ field.errors }}</div>{% endif %}
            {% endfor %}
            <!-- <input type="email" name="email" id="email" placeholder="Project18@zuri.com"> -->
            <input type="submit" value="Change my password" id="submit">
        </form>
        {% else %}
            <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
            </p>
        {% endif %}

    </div>
</body>
</html>