{% extends './base.html' %}
{% load static %}
{% block title %}FAQ{% endblock title %}

{% block content %}
<main>
    <section class="heading">
        <h1 class="main-title">Frequently Asked Questions</h1>
        <p>Have questions? We're here to help</p> 
    </section>
    
    <section class="faq">
        <div class="question">
            <h2>What is FORGE and how does it work?</h2>
            <p>
                FORGE is a content management software that allow users
                spin up basic websites for personal or business use. It also
                allows easy customization of websites.
            </p>
        </div>
        <div class="question">
            <h2>Can I use my domain name with FORGE?</h2>
            <p>
                Absolutely, FORGE has made it easy by allowing users
                use their domain name.
            </p>
        </div>
        <div class="question">
            <h2>Do I need to be a designer or developer to use FORGE?</h2>
            <p>
                FORGE is built in a way that it allow users with NO coding
                or developer experience to navigate and own websites.
            </p>
        </div>
        <div class="question">
            <h2>Can I use website builder to create a landing page?</h2>
            <p>
                Our platform gives access for users to create their own
                websites from scratch.
            </p>
        </div>
        <div class="question">
            <h2>Is it easy to build a website with FORGE?</h2>
            <p>
                FORGE has made it easy for users to own their websites.
            </p>
        </div>
        <div class="question">
            <h2>Do I need to make any payment to enjoy FORGE?</h2>
            <p>
                FORGE is totally free. User gets access to powerful tools once
                they are verified.
            </p>
        </div>
        <div class="question">
            <h2>Do I need to make any payment before registration?</h2>
            <p>
                No, registration is absolutely free on our plaatform.
            </p>
        </div>
    </section>

    <section class="extra-question">
        <p>Have additional question?</p>
        <div class="get-in-touch">
            <a href="#">Get in touch</a>
        </div>
    </section>
</main>
{% endblock content %}