{% extends './base.html' %}
{% load static %}
{% block title %}Features{% endblock title %}

{% block content %}
<main>
    <div class="features">
      <p id="up"><strong>OUR FEATURES</strong></p>
      <p id="down"><strong>Everything you need</strong></p>
    </div>

    <div class="content-wrap"> 

      <div class="row1">

        <section class="item1s">
          <img src="{% static 'images/undraw_functions_re_alho 1.png' %}" alt="image">
          <p id="info1">Well Designed and Functional</p>
          <p id="info2">
            Our templates reflects your company, your products, your services and ultimately your brand. So it’s important is it visually appealing, polished and professional
          </p>
        </section>

        <section class="item2s">
          <img src="{% static 'images/undraw_organize_resume_re_k45b 1.png' %}" alt="image2">
          <p id="info1">Easy to Use</p>
          <p id="info2">Our templates helps you navigate through easily. The user experience plays a key role in helping visitors use, understand and stay on your website. We create obvious, logical navigation with clear hierarchy</p>
        </section>

        <section class="item3">
          <img src="{% static 'images/undraw_mobile_apps_re_3wjf 1.png' %}" alt="image3">
          <p id="info1">Optimized for Mobile</p>
          <p id="info2">Our templates looks great and works well on any platform. The growth of mobile and tablet devices is not slowing down and our next user might just be using a tablet or a mobile phone</p>
        </section>
      </div>
        
      <div class="row2">
        <section class="item4">
          <img src="{% static 'images/undraw_fresh_notification_re_whq4 1.png' %}" alt="image4">
          <p id="info1">Fresh and Quality Content</p>
          <p id="info2">Our templates are succinct, interesting and new. We use language that make sense to our audience, we avoid jargon, corporate speak and acronyms. We follow constant social media updates and trends, which keeps users enganged while using our templates</p>
        </section>

        <section class="item5">
          <img src="{% static 'images/undraw_file_searching_re_3evy 1.png' %}" alt="image5">
          <p id="info1">Optimized for Search and 
            the Social Web</p>
          <p id="info2">
            Our templates follows a standard way and guidelines for effective search engine optimization, such as, optimizing content on websites to align with words real people search for, usage of key words appropiately in contents and links, and so on.
          </p>
        </section>

        <section class="item6">
          <img src="{% static 'images/undraw_button_style_re_uctt 1.png' %}" alt="img6">
          <p id="info1">Clear Calls to Action</p>
          <p id="info2">Our templates speaks of users needs and we want them to engage positively. The purpose of each template is stated clearly for users to engage in. We share informations that is beneficial for each users on social pages, download tool-kits, joining mailing lists and learn more about other organization options</p>
        </section>
      </div>

    </div>
  </main>
{% endblock content %}