{% extends './base.html' %}
{% load static %}
{% block title %}FORGE{% endblock title %}
{% block css %}
{{ block.super }}
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/privacy.css' %}">
{% endblock css %}

{% block header_txt %}
<div class="header-txt">
    <h1>Privacy Policy</h1>
    <br>
    Welcome to Forge.org’s Privacy Policy
</div>
{% endblock header_txt %}

{% block content %}
<div class="contents">
    <p>
        This privacy policy describes how Forge.org uses and protects any information that you give us.
        We are committed to ensuring that your privacy is protected. If you provide us with personal information
        through
        Forge.org, you can be assured that it will only be used in accordance with this privacy statement.
    </p>
    <br><br>
    <h2>Website Visitors</h2>
    <br><br>

    <p>
        Like most website operators, Forge.org collects non-personally-identifying information of the sort that web
        browsers and servers typically make available, such as the browser type, language preference, referring
        site,
        and the date and time of each visitor request. Forge.org’s purpose in collecting non-personally identifying
        information is to better understand how Forge.org’s visitors use its website.

        Forge.org also collects potentially personally-identifying information like Internet Protocol (IP)
        addresses.
        WordPress.org does not use IP addresses to identify its visitors, however, and does not disclose such
        information..
    </p>
    <br><br>

    <h2>Use of Personal Information</h2>
    <br><br>
    <p>
        We will not use the information you provide when you register for an account, receive newsletters,
        use certain other services in any other way.

        We will not sell or lease your personal information to third parties unless we have your permission or
        are required by law to do so.
    </p>

    <br><br>
    <h2>
        Legal Grounds for Processing
        Personal Information

    </h2>

    <br><br>
    <p>
        We rely on one or more of the following processing conditions:
    <ol>
        <li>Our legitimate interests in the effective delivery of information and services to you:</li>
        <li>Explicit consent that you have given;</li>
        <li> Legal obligations.</li>
    </ol>
    </p>


    <br><br>
    <h2>Access to Data</h2>
    <br><br>
    <p>
        You have the right to request a copy of the information we hold about you
    </p>


    <br><br>
    <h2>Retention of Personal Information</h2>
    <br><br>
    <p>We will retain your personal information on our systems only for as long as we need to, for the success of
        the Forge open source project and the programs that support Forge.org

        Forge.org will not delete personal data from logs or records necessary to the operation, development, or
        archives of the Forge open source project.

    </p>


    <br><br>
    <h2>Third Party Links</h2>
    <br><br>
    <p>
        Our website may contain links to other websites provided by third parties not under our control.
        When following a link and providing information to a 3rd-party website, please be aware that we are not
        responsible for the data provided to that third party. This privacy policy only applies to the websites
        listed at the beginning of this document, so when you visit other websites, even when you click on a link
        posted on Forge.org, you should read their own privacy policies.
    </p>

    <br><br>
    <h2>
        Cookies
    </h2>
    <br><br>
    <p>
        Additionally, information about how you use our website is collected automatically using “cookies”.
        Cookies are text files placed on your computer to collect standard internet log information and visitor
        behaviour information. This information is used to track visitor use of the website and to compile
        statistical reports on website activity.
    </p>


    <br><br>
    <h2>
        Privacy Policy Changes
    </h2>
    <br><br>
    <p>
        Although most changes are likely to be minor, Forge.org may change its Privacy Policy from time to time,
        and at Forge.org’s sole discretion. Forge.org encourages visitors to frequently check this page for any
        changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will
        constitute your acceptance of such change.


    </p>
</div>
{% endblock content %}

