{% extends './base.html' %}
{% load static %}
{% block title %}FORGE{% endblock title %}

{% block content %}
<section class="header">
    <div class="intro">
        <span>Forge Support</span>
    </div>
    <div class="para">
        <span>Ask questions, Find answers</span>
    </div>
    <div class="input">
        <input type="search" class=""
        placeholder="what do you need help with?" style="    width: 50%;
        background-color: white;
        border: none;
        outline: none;
        border-radius: 100px;
        padding: 1%;">
    </div>
</section>

<section class="table">
    <div class="table1">
        <div class="first-row" style="margin-right: 9%;">
            <span>
                <a href="" class="table-link">Getting Started</a>
            </span>  <br>
            <span>
                <a href="" class="table-link1"> > How to begin</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Solving Technical issue</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Contact Customer care</a>
            </span>
        </div>
        <div class="first-row" style="margin-right: 7%;">
            <span>
                <a href="" class="table-link">Domain</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Domain Basics</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Forge Domains</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Domains Purchased Elsewhere</a>
            </span>
        </div>
        <div class="first-row" style="margin-right: 7%;">
            <span>
                <a href="" class="table-link">Billing</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Premium Plans</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Forge Domains</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Charges, Payments and Taxes</a>
            </span>
        </div>
        <div class="first-row">
            <span>
                <a href="" class="table-link">SEO </a>
            </span><br>
            <span>
                <a href="" class="table-link1">> SEO Page Settings</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Verifying and Connecting Sites</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Site Visibility in Search Result</a>
            </span>
        </div>
    </div>

    <div class="table2">
        <div class="first-row" style="margin-right: 5%;">
            <span>
                <a href="" class="table-link">Managing Your Account</a>
            </span>  <br>
            <span>
                <a href="" class="table-link1"> > Account Settings</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Sign in issues</a>
            </span>
        </div>
        <div class="first-row" style="margin-right: 10%;">
            <span>
                <a href="" class="table-link">Managing Your Site</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Using Your Site Dashboard</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Site and Management</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Roles and Permissions</a>
            </span>
        </div>
        <div class="first-row" style="margin-right: 14%;">
            <span>
                <a href="" class="table-link">Forge Editor</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Editor Basics</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Using Your Editor</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Pages Structure</a>
            </span>
        </div>
        <div class="first-row">
            <span>
                <a href="" class="table-link">Site Performance </a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Editor Issues</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Live Sites Issues</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Browser Compatibility</a>
            </span>
        </div>
    </div>

    <div class="table3">
        <div class="first-row" style="margin-right: 9%;">
            <span>
                <a href="" class="table-link">Forge Stores</a>
            </span>  <br>
            <span>
                <a href="" class="table-link1"> > Setting Up Your Stores</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Designing Your Stores</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Setting Up Tax</a>
            </span>
        </div>
        <div class="first-row" style="margin-right: 9%;">
            <span>
                <a href="" class="table-link">Site Members</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Setting Up a Member Area</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Managing Your Site Members</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Creating Members Badges</a>
            </span>
        </div>
        <div class="first-row" style="margin-right: 11%;">
            <span>
                <a href="" class="table-link">Forge Analytics</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Analytics Tools</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Analytics Reports</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Analytics Dashboards</a>
            </span>
        </div>
        <div class="first-row">
            <span>
                <a href="" class="table-link">Managing Your Media </a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Pro Gallery</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Media Manager Basics</a>
            </span><br>
            <span>
                <a href="" class="table-link1">> Adding and Uploading Media</a>
            </span>
        </div>
    </div>

    <div class="show-more">
        <button class="tabtn">
            <a href="" class="tabtn-link">Show More ▼</a>
        </button>
    </div>
</section>

<section class="support">
    <div class="support-heading">
        <span>
            Support Forums
        </span>
    </div>
    <div class="support-para">
        <span>
            Can't find what you're looking for? Find out if others have shared 
            your experience.
        </span>
    </div>

    <div class="support-btn">
        <button class="spbtn">
            <a href="" class="spbtn-link">Check out our Support Forum</a>
        </button>
    </div>
</section>
{% endblock content %}

