{% extends 'base.html' %}
{% block css %}
    {% if styles %}
        {% for style in styles %}
        <link rel="stylesheet" href="{{ style.link }}">
        {% endfor %}
    {% endif %}
{% endblock css %}

{% block content %}
<style>
    {{ template.css|striptags|safe }}
</style>
{{ template.html|safe }}
{% endblock content %}

{% block scripts %}
    {% if scripts %}
        {% for script in scripts %}
            <script src="{{ script.link }}"></script>
        {% endfor %}
    {% endif %}
{% endblock scripts %}